<!DOCTYPE html>
<html lang="en">
<header>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
</header>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videos</title>
</head>
<body>
    <h1>Absolute Eurovision Bangers (extra points?)</h1>

    <a class="vid" style="background-image: url('../static/images/SHUM.jpg');" href="https://youtu.be/U7-dxzp6Jvs" target="_blank" rel="noopener noref">
        <span class="link">Go_A - SHUM</span>
    </a>

    <a class="vid" style="background-image: url('../static/images/Think\ About\ Things.jpg');" href="https://youtu.be/VFZNvj-HfBU" target="_blank" rel="noopener noref">
        <span class="link">Daði Freyr - Think About Things</span>
    </a>

    <a class="vid" style="background-image: url('../static/images/Dark\ Side.jpg');" href="https://youtu.be/cIvaeu6Oxzc" target="_blank" rel="noopener noref">
        <span class="link">Blind Channel - Dark Side</span>
    </a>

    <a class="vid" style="background-image: url('../static/images/ZITTI\ E\ BUONI.jpg');" href="https://youtu.be/QN1odfjtMoo" target="_blank" rel="noopener noref">
        <span class="link">Måneskin - ZITTI E BUONI</span>
    </a>
</body>
</html>