<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Auction House</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/css/style.css'>
</head>
<body>
    <div class='center'>
        <h1>Welcome to the Auction House</h1>
        <div style='height: 15px;'></div>
        <a href='bangers' rel='noopener noref'>Enjoy some tunes</a>
    </div>
</body>
</html>